@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
  --mainColor: #fef200;
  --secoundColor: #7f61ab;
}

* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

body {
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

input {
  accent-color: var(--mainColor) !important;
}

::-moz-selection {
  background-color: var(--mainColor);
}

::selection {
  background-color: var(--mainColor);
}

body {
  background-image: url(BG2.png);
  background-size: 8px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#capture-element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100dvw;
  margin: auto;
  aspect-ratio: 1/1.1;
  max-width: 800px;
}
#capture-element .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#capture-element .imgToReplace {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  aspect-ratio: 1/1.1;
  z-index: 2;
  transform: translate(-54%, -62%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#capture-element .imgToReplace img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: #000;
}
#capture-element .top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#result {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.btns {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 5;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.btns .capture {
  padding: 8px 16px;
  background-color: var(--mainColor);
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}
.btns .inputGroup {
  display: flex;
  color: var(--mainColor);
}
.btns .inputGroup #imageInput {
  display: none;
}
.btns .inputGroup label {
  padding: 8px 24px;
  border: 2px dashed var(--mainColor);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */